.gwd-p-7vre {
      position: absolute;
      width: 66px;
      height: 28px;
      transform-origin: 8.68336px 12.88px 0px;
      font-family: Arial;
      font-size: 25px;
      color: rgb(57, 107, 138);
      text-align: center;
      left: 380px;
      top: 73px;
    }
    .gwd-input-1pm9 {
      position: absolute;
      background-image: none;
      background-color: rgb(255, 255, 255);
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: rgba(248, 248, 147, 0.64);
      height: 27px;
      width: 189px;
      transform-origin: 96.5px 16.5px 0px;
      top: 106px;
      left: 319px;
    }
    .avisoPosition {
      position: absolute;
      top: 284px;
      left: 519px;
      color: rgb(66, 130, 170);
    }
    .avisoPositionL {
      position: absolute;
      top: 196px;
      left: 519px;
      color: rgb(66, 130, 170);
    }
    .gwd-p-ggl6 {
      width: 82px;
      transform-origin: 10.778px 12.875px 0px;
      left: 376px;
      top: 243px;
    }
    .gwd-input-1i3t {
      top: 276px;
    }
    .gwd-button-f38t {
      position: absolute;
      width: 127px;
      height: 46px;
      transform-origin: 63.5px 23px 0px;
      left: 354px;
      font-size: 25px;
      color: rgb(66, 130, 170);
      background-image: none;
      background-color: rgb(250, 250, 210);
      top: 331px;
    }
    .gwd-p-4897 {
      top: 73px;
    }
    .gwd-input-1tg3 {
      top: 106px;
    }
    .gwd-p-1rvm {
      left: 380px;
      top: 73px;
    }
    .gwd-input-1gj3 {
      left: 319px;
      top: 106px;
    }
    .gwd-p-n5k8 {
      top: 157px;
    }
    .gwd-input-1xwl {
      top: 190px;
    }
    .gwd-input-uqkf {
      position: absolute;
      width: 15px;
      height: 15px;
      left: 521px;
      top: 351px;
      background-image: none;
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: transparent;
      background-color: transparent;
    }
    .gwd-button-1huz {
      position: absolute;
      color: rgb(66, 130, 170);
      background-image: none;
      background-color: transparent;
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: transparent;
      font-size: 15px;
      height: 24px;
      width: 58px;
      transform-origin: 28.7625px 11.8px 0px;
      left: 541px;
      top: 350px;
    }