.gwd-p-7vre {
      position: absolute;
      width: 66px;
      height: 28px;
      transform-origin: 8.68336px 12.88px 0px;
      font-family: Arial;
      font-size: 25px;
      color: rgb(57, 107, 138);
      text-align: center;
      left: 380px;
      top: 73px;
    }
    .gwd-input-1pm9 {
      position: absolute;
      background-image: none;
      background-color: rgb(255, 255, 255);
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: rgba(248, 248, 147, 0.64);
      height: 27px;
      width: 189px;
      transform-origin: 96.5px 16.5px 0px;
      top: 106px;
      left: 319px;
    }
    .gwd-p-ggl6 {
      width: 82px;
      transform-origin: 10.778px 12.875px 0px;
      top: 159px;
      left: 376px;
    }
    .gwd-input-1i3t {
      top: 192px;
    }
    .gwd-button-f38t {
      position: absolute;
      top: 247px;
      width: 127px;
      height: 46px;
      transform-origin: 63.5px 23px 0px;
      left: 354px;
      font-size: 25px;
      color: rgb(66, 130, 170);
      background-image: none;
      background-color: rgb(250, 250, 210);
    }
    .gwd-button-pw3v {
      display: block;
      height: 24px;
      left: 512px;
      position: absolute;
      top: 270px;
      width: 100px;
      -webkit-appearance: none;
      transform-style: preserve-3d;
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: transparent;
      background-color: transparent;
      color: rgb(19, 16, 236);
      transform: translate3d(-16px, -11px, 0px);
    }
    .gwd-img-1e6z {
      position: absolute;
      width: 175px;
      height: 139px;
      transform-origin: 87.5px 69.5px 0px;
      left: 141px;
      top: 87px;
    }
    .gwd-p-g1kf {
      position: absolute;
      font-family: Arial;
      font-size: 40px;
      color: rgb(226, 216, 107);
      left: 549px;
      top: 106px;
    }
    .gwd-h2-itao {
      color: rgb(122, 112, 238);
      left: 0px;
      top: 40px;
    }
    .gwd-div-13hn {
      position: absolute;
      width: 97.8625px;
      height: 86.4px;
      top: 207px;
      left: -99px;
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
    }
    .gwd-h2-1fpm {
      left: 6px;
      top: 0px;
    }
    @keyframes gwd-gen-1doqgwdanimation_gwd-keyframes {
      0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
      }
      100% {
        transform: translate3d(271px, 0px, 0px);
        animation-timing-function: linear;
      }
    }
    .htmlNoPages .gwd-gen-1doqgwdanimation {
      animation: gwd-gen-1doqgwdanimation_gwd-keyframes 1s linear 0s 1 normal forwards running;
    }