<html>
    <head>
        <title>
            Sucesso
        </title>
    </head>
    <body>
        <h3><p th:text="${usuario.nome} + ' cadastrado com sucesso!'" /></h3>
        <a href="/"><button>Voltar</button></a>
    </body>
</html>