<html>
    <head>
        <meta charset="utf-8">
        <title>Listagem geral</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
        <link rel="stylesheet" href="css/lista.css">
        <script src="js/funcoes.js"></script>
    </head>
    <body>
        <h3><div>Entrou na lista completa (usuários e postos).</div></h3>
        <table style="background-color: gray; font: bold; color: white;">
        <td>ID</td> 
        <td>NOME</td> 
        <td>LOGIN</td>
        <td>ADMIN</td>
        </table>
        <div th:unless="${#lists.isEmpty(usuarios)}">
            <dl th:each="usuario : ${usuarios}">
                  <dt>
                      <form action="#" th:action="@{/listacompleta}" th:object="${usuario}" name="edicao" method="POST">
                      <table id="tbLista">
                          
                            <td id="id" th:text="${usuario.id}"></td>
                            <td id="nometd" th:text="${usuario.nome}"></td> 
                            <td id="logintd" th:text="${usuario.login}"></td>
                            <td id="admin" th:text="${usuario.admin}"></td>

                      </table>
                      <button type="submit">Editar</button>
                      <button type="submit">Excluir</button>
                      <input type="hidden" id="nome" th:field="*{nome}" th:value="${usuario.nome}">
                      <input type="hidden" id="login" th:field="*{login}" th:value="${usuario.login}">
                      <input type="hidden" id="senha" th:field="*{senha}" th:value="${usuario.senha}">
                      </form> 
                  </dt>
            </dl>
      </div>
      
        <h3 th:text="${erroimport}"></h3>
        <a href="/"><button>Voltar</button></a>
    </body>
</html>